.facilityContainer {
	display: none;
	flex-wrap:wrap;
	flex-direction: row;
	align-content: flex-start;
}

.facilityContainer > section {
	border: solid gray 1px;
	padding: 1%;
	margin: 2% 1%;
	width: 20%;
    background-color: lightgreen;
}

.facilityContainer > section > p {
	margin: 0;
	overflow-wrap: break-word;

}

.facilityContainer > section > p:nth-of-type(1) {
	margin-bottom: 5%;
	font-size: 115%;
}
