@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}



/* criminals */
.criminalsContainer {
	display: flex;
	flex-wrap:wrap;
	flex-direction: row;
}

.criminalsContainer > section {
	border: solid gray 1px;
	padding: 1%;
	margin: 2% 5%;
	width: 20%;
}

.criminalsContainer > section > p {
	margin: 0;
}

.criminalsContainer > section > p:nth-of-type(1) {
	margin-bottom: 5%;
	font-size: 115%;
}

.criminalsContainer > section:last-of-type {
	align-self: flex-start;
}

/* Aside */