@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import "./facilities.css";

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  text-align: center;
  Width: 100%;
}

.filters {
	display: flex;
	flex-direction: row;
	width: 100%;
	/* justify-content: space-evenly; */
}
.toFlex {
	display: flex;
	/* flex-direction: column; */
}

/* criminals */
.criminalsContainer {
	display: flex;
	flex-wrap:wrap;
	flex-direction: row;
	align-content: flex-start;
}

.criminalsContainer > section {
	border: solid gray 1px;
	padding: 1%;
	margin: 2% 1%;
	width: 20%;
	background-color: pink;
}

.criminalsContainer > section > p {
	margin: 0;
	overflow-wrap: break-word;

}

.criminalsContainer > section > p:nth-of-type(1) {
	margin-bottom: 5%;
	font-size: 115%;
}

h4 {
	font-size: 1.4em;
}

/* Facilities */
.facilities > h2 {
	font-size: 1.25em;
}

ul {
	padding-inline-start: 10%;
}

/* Officers */
.officersContainer{
	margin-right: 5%;

}

.officersContainer > section {
	border: thin solid black;
	margin: 10% 0%;
	padding-left: 5%;
	background-color: lightblue;
}

/* Aside */
.noteListContainer{
	margin-top: 1.25%;
	margin-right: 3%;
}

.note {
	border: thin solid black;
	padding-left: 3%;
	margin-bottom: 3%;
	background-color: aliceblue;
}

#showNotes {
	margin-bottom: 5%;
}
